@page "/login"

<h3>Login</h3>

<div>
    <label for="username">Username:</label>
    <input type="text" id="username" />
</div>
<div>
    <label for="password">Password:</label>
    <input type="password" id="password" />
</div>
<div>
    <button type="button">Login</button>
</div>